.camera-container { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  padding: 1px;
}

.camera-container .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 38px;
  color: #4096ff;
  width: 90%;
  position: absolute;
  margin-right: 20px;
}

.camera-container .header .back-button {
  background: none;
  border: none;
  font-size: 24px;
  color: #4096ff;
  margin-left: 90px;
  margin-top: 20px;
  cursor: pointer;
}

.camera-container .header .title {
  margin: 0;
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  margin-top: 28px;
  margin-left: 30px;
}

.camera-container .divider {
  border: 0;
  height: 5px;
  background-color: #4096ff;
  margin-top: -50px;
}

.video-container, .captured-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  height: 900px;
  max-width: 360px;
  margin-top: 200px;
}

.camera-view {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 5px solid #4096ff;
}

.capture-button, .recapture-button, .check-button {
  margin-top: 80px;
  margin-right: 20px; /* 오른쪽 간격 추가 */
  margin-left: 20px; 
  width: 140px;
  padding: 15px 0;
  font-size: 25px;
  color: #ffffff;
  background-color: #4096ff;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background-color: #337ab7; /* hover 효과 */
  }
}


.captured-photo img {
  width: 100%;
  height: auto;
}


