.header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* 왼쪽과 오른쪽에 요소 배치 */
    font-size: 38px;
    color: #4096ff;
    width: 100%;
    position: relative;
    top: 0;
    padding: 10px 0;
    background-color: white;
    z-index: 1000;
  }
  
  .backbutton {
    flex: 1; /* 왼쪽에 위치 */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 14px;
    font-size: 24px;
    color: #4096ff;
    cursor: pointer;
  }
  
  .title {
    flex: 8; /* 중앙에 위치 */
    margin: 0;
    font-weight: bold;
    font-size: 43px;
    text-align: center;
  }
