/* inputField.scss */

.input-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .input-field label {
    font-size: 18px;
    color: #333;
    margin-bottom: 1px;
    font-weight: bold;
  }
  
  .input-field input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #007BFF;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
  }
  
  .input-field input:focus {
    border-color: #336dcc; 
  }
  
  .input-field input::placeholder {
    color: #888;
  }
  
  .input-field input:disabled {
    background-color: #f5f5f5;
    cursor: not-allowed;
  }
  
  