.disease-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  padding: 1px;
  margin-top: 50px;
}

.disease-container .header {
  display: flex;
 align-items: center;
 justify-content: space-between;
 font-size: 38px;
 color: #4096ff;
 width: 110%;
 height: 110px;
 position: absolute;
 margin-right: 20px;
}

.disease-container .header .back-button {
 background: none;
 border: none;
 font-size: 24px;
 color: #4096ff;
 margin-left: 90px;
 margin-top: 20px;
 cursor: pointer;
}

.disease-container .header .title {
 margin: 0;
 flex-grow: 1;
 text-align: center;
 font-weight: bold;
 font-size: 48px;
 margin-top: 80px;
 margin-left: 30px;
}
.disease-container .divider {
 border: 0;
 height: 5px;
 background-color: #4096ff;
 margin-top: -50px;
 margin-bottom: px;
}

.disease-container .option-container {
  display: flex;
  flex-direction: column;
  gap: 25px; 
  width: 90%;
  margin-top: 20px;
  background-color: white; 
}

.disease-container .option-container .option {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #4096ff;
  border-radius: 8px;
  padding: 16px; 
  text-align: center;
  cursor: pointer; 
  height: 230px;
}

.disease-container .option-container .option .icon {
  width: 48px; 
  height: 48px;
  margin-bottom: 40px; 
}

.disease-container .option-container .option .camera-icon {
  background: url('../assets/camera.png') no-repeat center center;
  background-size: contain;
}

.disease-container .option-container .option .pencil-icon {
  background: url('../assets/pencil.png') no-repeat center center;
  background-size: contain;
}


.disease-container .option-container .option .camera-icon,
.disease-container .option-container .option .pencil-icon {
  width: 85px;
  height: 85px; 
  margin-top: 20px; 
  margin-bottom: 20px; 
}

.disease-container .option-container .option .option-title {
  font-size: 28px; 
  font-weight: bold;
  margin: 0;
}

.disease-container .option-container .option .option-description {
  font-size: 16px; 
  font-weight: semi-bold;
  color: #000000;
  margin: 6px 0 0; 
}