.signup-content {
  margin-bottom: 20%;
  width: 95%;
}

.signup-description {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.button-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.signup-back-button {
  flex: 1;
  margin-right: 10px;
  padding: 12px;
  background-color: #d3d3d3;
  color: #333;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.signup-next-button {
  flex: 1;
  padding: 12px;
  background-color: #4096ff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.signup-next-button:hover {
  background-color: #367bc3;
}

.signup-back-button:hover {
  background-color: #a9a9a9;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkbox-option {
  display: flex;
  align-items: center;
  font-size: 18px; /* 폰트 크기 조정 */
  cursor: pointer;
}

.signup-description {
  text-align: left;
  margin-left: 5%;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 80px;
}

.checkbox-group {
  display: flex;
  flex-direction: column; /* 체크박스를 세로로 배치 */
  align-items: flex-start; /* 체크박스를 왼쪽으로 정렬 */
  gap: 16px; /* 체크박스 간의 간격 */
  margin: 20px 0; /* 위아래 간격 조정 */
}
