.app-container {
  min-height: 100vh; // 화면 전체를 채우기 위해 높이를 100vh로 설정
  display: flex;
  flex-direction: column;
}

.store-header {
  width: 100%;
  padding-top: 40px;

  .header-content {
    display: flex;
    align-items: center;
    background-color: white;
  }

  .back-button {
    margin-right: 10px;
  }

  .title {
    font-size: 36px;
    color: #4096ff;
    text-align: center;
    flex-grow: 1;
  }

  .divider {
    width: 100%;
    height: 2px;
    background-color: #4096ff;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.s-search-bar {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 0 0 20px 0 !important;
  width: 90%; // 화면의 90% 너비로 설정
  margin: 0 auto; // 가운데 정렬

  input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    flex: 1; // input 필드를 가능한 한 넓게
  }

  button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    margin-left: 8px;
  }
}

.store-list {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 1rem;
  height: 530px; // Set the maximum height for the scrollable area
  overflow-y: auto; // Enable vertical scrolling if content exceeds max height
  padding-right: 1rem; // Optional: add padding for scrollbar spacing
}

.store-item {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.2px solid #c4c4c46c;

  img {
    width: 100%;
    max-width: 300px;
    max-height: 150px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
  }

  h2 {
    font-size: 1.25rem;
    color: #333;
    margin: 0.5rem 0;
  }

  .status {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 0.5rem;

    .danger {
      background-color: #ff4d4d;
      color: #fff;
      padding: 0.2rem 0.5rem;
      border-radius: 5px;
      font-size: 0.875rem;
    }

    .warning {
      background-color: #ffa500;
      color: #fff;
      padding: 0.2rem 0.5rem;
      border-radius: 5px;
      font-size: 0.875rem;
    }

    .safe {
      background-color: #32cd32;
      color: #fff;
      padding: 0.2rem 0.5rem;
      border-radius: 5px;
      font-size: 0.875rem;
    }
  }
}
